html {
    padding: 10px;
    font-family: Verdana, sans-serif;
}

.login-buttons-dropdown-align-right {
    float: right;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.current-user-msg {
    text-align: right;
}

#message {
    width: 100%;
    height: 25px;
}
