html {
    padding: 10px;
    font-family: Verdana, sans-serif;
}

/* Login Buttons */
.login-buttons-dropdown-align-right {
    float: right;
    position: relative;
    top: 20px;
}


/* Container elements */
.container {
    width: 640px;
    margin: 0 auto;
}

#messages-container {
    margin-bottom: 90px;
}


/* Load Earlier Messages */
.load-more {
    margin-bottom: 40px;
}

#loadMoreButton {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #414141;
    font-size: 13px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

#loadMoreButton:focus {
    outline: 0;
}

#loadMoreButton:hover {
    background-color: #f1f1f1;
}


/* Message bubbles */
.current-user-msg {
    color: #fff;
    margin-left: 40%;
    margin-bottom: 10px;
    text-align: right;
}

.other-msg-container {
    margin-bottom: 40px;
}

.other-user-msg {
    margin-right: 40%;
    text-align: left;
}

.other-user-msg div {
    display: inline-block;
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px;
}

.current-user-msg div {
    display: inline-block;
    background-color: #43828f;
    border-radius: 5px;
    padding: 10px;
}

.other-user-namestamp {
    color: #ccc;
    position: relative;
    bottom: 5px;
}


/* Enter a message input */
#message {
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
}

#message:focus {
    outline: 0;
}

input[placeholder] {
   font-size: 14px;
   padding-left: 10px;
}

.center-add-msg {
    width: 640px;
    margin: 0 auto;
}

#addMessage {
    background-color: #f1f1f1;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 600px;
}
